<%= turbo_frame_tag 'invite_user_form' do %>
    <%= form_with(model: [:admin, @user], url: admin_invite_users_url, class: "mx-auto max-w-[24rem]", data: { action: 'drawer#close' }) do |f| %>
        <div class="mb-6">
        <%= f.label :email do %>
            <p class="antialiased font-sans text-sm leading-normal text-inherit mb-2 block font-medium text-gray-900">
            Email
            </p>
        <% end %>
        <div class="relative w-full min-w-[200px] h-11">
            <%= f.email_field :email, class: "input input-bordered w-full #{'input-error' if @user.errors[:email].any?}", placeholder: "name@mail.com" %>
        </div>
        <% if @user.errors[:email].any? %>
            <p class="text-error text-xs mt-2"><%= @user.errors[:email].join(", ") %></p>
        <% end %>
        </div>

        <%= f.fields_for :profile do |profile_fields| %>
        <div class="mb-6">
            <%= profile_fields.label :first_name do %>
            <p class="antialiased font-sans text-sm leading-normal text-inherit mb-2 block font-medium text-gray-900">
                First Name
            </p>
            <% end %>
            <div class="relative w-full min-w-[200px] h-11">
            <%= profile_fields.text_field :first_name, class: "input input-bordered w-full #{'input-error' if @user.profile.errors[:first_name].any?}" %>
            </div>
            <% if @user.profile.errors[:first_name].any? %>
            <p class="text-error text-xs mt-2"><%= @user.profile.errors[:first_name].join(", ") %></p>
            <% end %>
        </div>

        <div class="mb-6">
            <%= profile_fields.label :last_name do %>
            <p class="antialiased font-sans text-sm leading-normal text-inherit mb-2 block font-medium text-gray-900">
                Last Name
            </p>
            <% end %>
            <div class="relative w-full min-w-[200px] h-11">
            <%= profile_fields.text_field :last_name, class: "input input-bordered w-full #{'input-error' if @user.profile.errors[:last_name].any?}" %>
            </div>
            <% if @user.profile.errors[:last_name].any? %>
            <p class="text-error text-xs mt-2"><%= @user.profile.errors[:last_name].join(", ") %></p>
            <% end %>
        </div>
        <% end %>

        <div>
        <%= f.submit "Create User", class: "btn btn-neutral w-full" %>
        </div>
    <% end %>
<% end %>
