<%= turbo_frame_tag 'invite_user_form' do %>
    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }, data: { action: 'drawer#close' }) do |f| %>
        <div class="mb-10">
            <h1 class="text-2xl antialiased font-semibold mt-4">Invite new user</h1>
        </div>
        <div class="mb-6">
            <%= f.label :email do %>
                <p class="antialiased font-sans text-sm leading-normal text-inherit mb-2 block font-medium text-gray-900">
                    Email
                </p>
            <% end %>
            <div class="relative w-full min-w-[200px] h-11">
                <%= f.email_field :email, class: "input input-bordered w-full #{'input-error' if @user.errors[:email].any?}", placeholder: "name@mail.com" %>
            </div>
            <% if @user.errors[:email].any? %>
                <p class="text-error text-xs mt-2"><%= @user.errors[:email].join(", ") %></p>
            <% end %>
        </div>
        <div class="mb-6">
            <%= f.label :first_name do %>
                <p class="antialiased font-sans text-sm leading-normal text-inherit mb-2 block font-medium text-gray-900">
                    First Name
                </p>
            <% end %>
            <div class="relative w-full min-w-[200px] h-11">
                <%= f.text_field :first_name, placeholder: 'John', class: "input input-bordered w-full #{'input-error' if @user.errors[:first_name].any?}" %>
            </div>
            <% if @user.errors[:first_name].any? %>
                <p class="text-error text-xs mt-2"><%= @user.errors[:first_name].join(", ") %></p>
            <% end %>
        </div>

        <div class="mb-6">
            <%= f.label :last_name do %>
            <p class="antialiased font-sans text-sm leading-normal text-inherit mb-2 block font-medium text-gray-900">
                Last Name
            </p>
            <% end %>
            <div class="relative w-full min-w-[200px] h-11">
                <%= f.text_field :last_name, placeholder: 'Doe', class: "input input-bordered w-full #{'input-error' if @user.errors[:last_name].any?}" %>
            </div>
            <% if @user.errors[:last_name].any? %>
                <p class="text-error text-xs mt-2"><%= @user.errors[:last_name].join(", ") %></p>
            <% end %>
        </div>
        <div class="mb-6">
            <%= f.label :role_id do %>
                <p class="antialiased font-sans text-sm leading-normal text-inherit mb-2 block font-medium text-gray-900">
                    Role
                </p>
            <% end %>
            <div class="relative w-full min-w-[200px] h-11">
                <%= f.collection_select :role_id, Role.all, :id, :name, { include_blank: "Select role" }, class: "select select-bordered w-full" %>
            </div>
            <% if @user.errors[:email].any? %>
                <p class="text-error text-xs mt-2"><%= @user.errors[:email].join(", ") %></p>
            <% end %>
        </div>

      <div>
        <%= f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-neutral w-full' %>
      </div>
    <% end %>
<% end %>
