<section
    class="relative flex flex-col rounded-xl bg-white text-gray-700
    shadow-md h-[100vh] py-4 px-2.5"
>
    <div class="border-b p-5 text-center sm:text-left">
        <p class='block antialiased font-sans leading-relaxed
        text-blue-gray-900 text-lg font-bold'>
            Creder Rails
        </p>
    </div>
    <div>
        <div class="py-5">
            <ul class='menu menu-md bg-base-100 rounded-box w-64'>
                <li>
                    <%= link_to dashboard_path do %>
                        <%= lucide_icon 'layout-dashboard', class: "w-5 h-5" %>
                        <span>Dashboard</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to admin_users_path do %>
                        <%= lucide_icon 'users', class: "w-5 h-5" %>
                        <span>Users</span>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex mx-4 mt-auto bg-blue-300 bg-opacity-10 border border-blue-100 rounded-md p-1 sm:p-2">
        <div class="avatar placeholder self-center">
            <div class="bg-neutral text-neutral-content w-10 h-10 rounded-full">
            <span><%= current_user.full_name.first.upcase %></span>
            </div>
        </div>
        <div class="flex-1 ml-3 items-center text-gray-700 hidden sm:block">
            <div class="text-sm"><%= current_user.full_name %></div>
            <div class="text-xs"><%= current_user.role_name %></div>
        </div>
        <div class='self-center'>
            <div tabindex='0' role='button' class='btn btn-ghost btn-sm'>
                <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
                    <%= lucide_icon 'log-out', class: 'w-5 h-5' %>
                <% end %>
            </div>
        </div>
    </div>
</section>
